* {
    margin: 0;
    padding: 0;
}

.navMenu {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.navMenu li {
    list-style: none;
}

.navMenu a {
    display: inline-block;
    padding: 20px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.navMenu a:hover {
    background-color: lightslategray;
}
.container {
    display: inline-flex;
    flex: 1 1 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.icon {
    padding: 0.8rem;
}

.searchBox {
    border: 0;
    flex: 1;
}

.searchButton {
    color: white;
    background: #0f4a8a;
    border: 0;
    padding: 0.8rem;
    /* border-radius: 8px; */
}